.catalog {
  padding: 50px 20px 44px;
  text-align: center;
  background-color: $color-lightest-grey;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 90px;

  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;

  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1011px;
    gap: 30px;
    width: $desktop-width;
    margin: 0 auto;
  }
}

.catalog__title {
  font-family: $font-family-montserrat-bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-base_primary;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.catalog__subtitle {
  font-family: $font-family-montserrat-bold;
  font-size: 24px;
  line-height: 36px;
  color: $color-black-base;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    width: 730px;
    padding: 0;
  }
}

.catalog__filter{
  margin: 0;
  display: flex;
  flex-direction: column;
}

.catalog__form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;

  @media (min-width: $desktop-width) {
    grid-column: 1 /2;
  }
}

.catalog__cards {
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    grid-column: 2 /-1;
  }
}
