.contacts {
  font-family: $font-family-montserrat-regular;
  color: $color-black-base;
  margin: 0;
  padding: 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.contacts__list {
  margin: 0;
}

.contacts__item {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__address {
  margin: 0;
  padding-left: 19px;
}

.contacts__phone {
  padding-left: 19px;
  color: $color-black-base;
}

.contacts__icon {
  position: absolute;
  top: 3px;
  left: 0;
}
