.features {
  padding: 50px 20px 60px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 60px 20px 96px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.features__title {
  font-family: $font-family-montserrat-bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-base_primary;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
  }
}

.features__subtitle {
  font-family: $font-family-montserrat-bold;
  font-size: 24px;
  line-height: 36px;
  color: $color-black-base;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 36px;


  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding: 0 50px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  @media (max-width: $mobile-width-only) {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 50px;
    width: 728px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    gap: 30px;
    justify-content: space-between;
  }
}

.features__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 340px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    height: auto;
    gap: 10px;
    padding-top: 78px;
  }
}

.features__item-heading {
  font-family: $font-family-montserrat-bold;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  margin-top: 66px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    padding: 0 10px 0 72px;
    margin: 0;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 10px;
    text-align: center;
  }
}

.features__item-description {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: center;
  }
}

.features__item-icon {
    position: absolute;
    width: 52px;
    height: 56px;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      top: 32px;
      transform: translateY(-50%);
      left: 0;
    }
    @media (min-width: $desktop-width) {
      top: 0;
    }
}
