.main-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-footer__header {
  display: flex;
  flex-wrap: wrap;
}

.main-footer__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid $color-base-secondary;
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer__info-title {
  font-family: $font-family-montserrat-bold;
  font-size: 14px;
  color: $color-base_primary;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.main-footer__info-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.main-footer__info-link {
  font-family: $font-family-montserrat-medium;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
