.main-nav {
  margin-top: -60px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    display: block;
  }
}

.main-nav__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.main-nav__list--site {
  width: 100%;
  order: 10;

  @media (min-width: $tablet-width) {
    width: unset;
    order: unset;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
  }
}

.main-nav--closed .main-nav__list--site {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav__list--site {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;

  background-color: $color-white-base;
  border: none;

  z-index: 20;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:active {
    @media (max-width: $mobile-width-only) {
      background-color: $color-base-secondary;
    }
  }
}

.main-nav--closed .main-nav__toggle-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: inherit;

  display: block;
  width: 16px;
  height: 2px;

  background-color: $color-black-base;

  &::before,
  &::after {
    position: absolute;
    right: 0;
    width: 16px;
    height: 2px;
    background-color: $color-black-base;
    content: "";
  }

  &::before {
    top: -5px;
  }

  &::after {
    bottom: -5px;
  }
}

.main-nav--opened .main-nav__toggle-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: inherit;
  width: 20px;
  height: 2px;

  &::before,
  &::after {
    position: absolute;
    right: 2px;
    width: 16px;
    height: 2px;
    content: "";
    background-color: $color-black-base;
  }

  &::before {
    top: 0;
    transform: rotate(45deg);
  }

  &::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
