.main-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(3, 222px);
    column-gap: 31px;
    padding: 0 20px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 317px);
    column-gap: 31px;
    justify-content: space-between;
    padding: 0 40px;
  }
}

.main-footer__header {
  display: flex;
  flex-wrap: wrap;
}

.main-footer__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-base-secondary;
  padding: 20px;

  @media (min-width: $tablet-width){
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 0;
  }

  &--large {
    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      grid-column: 1 / -1;
    }

    @media (min-width: $tablet-width){
      padding: 42px 0 30px;
    }
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 728px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-footer__info-title {
  font-family: $font-family-montserrat-bold;
  font-size: 14px;
  color: $color-base_primary;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.main-footer__info-list {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.main-footer__info-link {
  font-family: $font-family-montserrat-medium;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $color-primary-lighter;
  }

  &:active {
    color: $color-primary-darker;
  }
}

.main-footer__logo-text {
  @media (min-width: $mobile-width) and (max-width: $only-tablet-width) {
    display: none;
  }
}

.main-footer__logo-image {
  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.main-footer__logo-link {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}
