.map {
  width: 100%;
  height: 420px;
  background-color: $color-light-grey;
  background-image: url("/images/map/map-mobile.png");
  background-size: 100% auto, cover;
  background-position-y: 50%;
  background-position: center center;
  margin: 0 auto;

  @media (min-resolution: 2dppx) {
    background-image: url("/images/map/map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 480px;
    background-image: url("/images/map/map-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("/images/map/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    height: 540px;
    background-image: url("/images/map/map-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("/images/map/map-desktop@2x.png");
    }
  }
}
