.pagination__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    width: 728px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    justify-content: end;
    width: 100%;
    margin: 0 auto;
  }
}

.pagination__link {
  font-family: $font-family-montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-primary;
  background-color: $color-white-base;
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;

  &--current {
    font-family: $font-family-montserrat-semi-bold;
    color: $color-black-base;
    background-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: $color-primary-lighter;
    color: $color-white-base;
    fill: $color-white-base;
  }

  &:active {
    background-color: $color-primary-darker;
    color: $color-white-base;
  }

  &:disabled {
    background-color: $color-light-grey;
  }
}

.pagination__link-text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.pagination__link--arrow {
  @media (min-width: $tablet-width) {
    width: min-content;
    padding: 8px 20px;
  }
}

.pagination__link-icon {
  width: 10px;
  height: 10px;
  fill: currentColor;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

