.range {
  position: relative;
  padding: 11px 0;
  border-radius: 5px;
  margin-bottom: 23px;
  user-select: none;
}

.range__scale {
  height: 2px;
  background-color: $color-light-grey;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range__bar {
  position: absolute;
  width: 241px;
  height: 4px;
  margin-left: 0;
  top: 10px;
  background-color: $color-primary-lighter;

  @media (min-width: $tablet-width) {
    width: 192px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
  }
}

.range__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid $color-primary-lighter;
  background-color: $color-white-base;
  cursor: pointer;

  &--min {
    left: 0;
  }

  &--max {
    left: 236px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
      left: 179px;
    }

    @media (min-width: $desktop-width) {
      left: 274px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 50%;
      display: block;
      transform: translateX(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-primary-opacity;
    }
  }

  &:active {
    &::after {
      background-color: $color-base-primary;
      transition: all 0.4s ease-out;
    }
  }
}
