.select {
  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 14px 0;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: auto;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.select__title {
  font-family: $font-family-montserrat-semi-bold;
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 18px;
  }
}

.select__control {
  font-family: $font-family-montserrat-semi-bold;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-primary;
  min-height: 32px;
  border: none;
  background-color: transparent;
  appearance: none;;

  &:hover,
  &:focus {
    background-color: $color-base-secondary;
    border-radius: 4px;
    outline: none;
  }

  &:active,
  &:focus-within {
    background-color: transparent;
    border-radius: 4px;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.select-icon {
  width: 10px;
  height: 10px;
}
