.slider {
  max-width: 100%;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: $mobile-width;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    max-height: 714px;
  }
}

.slider__item {
  text-align: center;
  padding: 20px 20px 60px;
  min-height: 635px;

  @media (min-width: $tablet-width) {
    padding: 56px 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 40px 83px;
  }

  &--decaf {
    background-color: $color-flat_white;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $color-flat_white 0, $color-flat_white 640px, $color-white-base 640px);
    }
  }

  &--lavender {
    background-color: $color-lavender_latte;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $color-lavender_latte 0, $color-lavender_latte 640px, $color-white-base 640px);
    }
  }

  &--espresso {
    background-color: $color-espresso;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $color-espresso 0, $color-espresso 640px, $color-white-base 640px);
    }
  }
}

.slider__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 30px;
    padding: 0 65px;
    justify-items: flex-start;
  }
}

.slider__description {
  font-family: $font-family-montserrat-regular;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: $mobile-width;
  min-height: 100px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    max-width: $tablet-width;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 20px;
    text-align: left;
    max-width: unset;
  }
}

.slider__title {
  font-family: $font-family-montserrat-bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin: 4px 0 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: left;
  }
}

.slider__image-container {
  display: flex;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.slider__inner-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 150px;
  }
}

.slider__image {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.slider__badge {
  font-family: $font-family-montserrat-bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-base_primary;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.slider__price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 230px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__price {
  font-family: $font-family-montserrat-regular;
  font-size: 16px;
  line-height: 32px;
  color: $color-base-primary;
  margin-right: 6px;

  &-discount {
    font-family: $font-family-montserrat-semi-bold;
    font-size: 20px;
    line-height: 32px;
    color: $color-black-base;
    margin-right: 20px;
  }
}

.slider__price-button {
  font-family: $font-family-montserrat-regular;
  padding: 8px 20px;
  border-radius: 4px;
}

.slider__button {
  position: absolute;
  top: 23px;
  bottom: 0;
  height: 100%;
  width: 20px;
  border: none;
  z-index: 2;
  cursor: pointer;
  color: $color-base-primary;
  background-color: transparent;

  &:disabled .slider__button-icon {
    color: $color-base-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    border-top: 2px solid $color-base-primary;
    border-right: 2px solid $color-base-primary;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 290px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 330px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.slider__button--prev {
  left: 0;

  &::after {
    left: 50%;
    top: 50%;
    transform: rotate(226deg);
  }

  &:hover,
  &:focus {
    background: linear-gradient (90deg, $color-white-base 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient (90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.slider__button--next .slider__button-icon {
  transform: rotate(180deg);
}

.slider__button--next {
  right: 0;

  &::after {
    right: 50%;
    top: 50%;
    transform: rotate(46deg);
  }

  &:hover,
  &:focus {
    background: linear-gradient (270deg, $color-white-base 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient (270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.slider__pagination {
  @media (min-width: $mobile-width) and (max-width: $only-tablet-width) {
    display: none;
  }
}
