.slider {
  max-width: 100%;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: $mobile-width;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    max-height: 714px;
  }
}

.slider__item {
  text-align: center;
  padding: 20px 20px 60px;
  min-height: 635px;

  @media (min-width: $tablet-width) {
    padding-top: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-bottom: 55px;
  }

  &--decaf {
    background-color: $color-flat_white;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $color-flat_white 0, $color-flat_white 72%, $color-white-base 72%);
    }
  }

  &--lavender {
    background-color: $color-lavender_latte;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $color-lavender_latte 0, $color-lavender_latte 72%, $color-white-base 72%);
    }
  }

  &--espresso {
    background-color: $color-espresso;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $color-espresso 0, $color-espresso 72%, $color-white-base 72%);
    }
  }
}

.slider__description {
  font-family: $font-family-montserrat-regular;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px 20px;
  max-width: $mobile-width;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    padding: 16px 0 21px;
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 40px;
    text-align: left;
    max-width: unset;
  }
}

.slider__title {
  font-family: $font-family-montserrat-bold;
  font-size: 36px;
  line-height: 48px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
  }
}

.slider__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    max-width: 606px;
    margin: 0 auto;
    padding: 0;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    max-width: 1255px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 30px;
    padding-bottom: 79px;
    justify-items: flex-start;
  }
}

.slider__badge {
  font-family: $font-family-montserrat-bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-base_primary;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 4px;

  @media (max-width: $mobile-width-only) {
    margin-top: 6px;
  }
}

.slider__price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 230px;
  margin: 0 auto;
}

.slider__price {
  font-family: $font-family-montserrat-regular;
  font-size: 16px;
  line-height: 32px;
  color: $color-base-primary;
  margin-right: 6px;

  &-discount {
    font-family: $font-family-montserrat-semi-bold;
    font-size: 20px;
    line-height: 32px;
    color: $color-black-base;
    margin-right: 20px;
  }
}

.slider__price-button {
  font-family: $font-family-montserrat-regular;
  padding: 12px 20px;
  border-radius: 4px;
}

.slider__button {
  position: absolute;
  top: 23px;
  bottom: 0;
  height: 100%;
  width: 20px;
  border: none;
  z-index: 2;
  cursor: pointer;
  color: $color-base-primary;
  background-color: transparent;

  &:disabled .slider__button-icon {
    color: $color-base-grey;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    border-top: 2px solid $color-base-primary;
    border-right: 2px solid $color-base-primary;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 290px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 330px;
    }
  }
}

.slider__button--prev {
  left: 0;

  &::after {
    left: 7px;
    transform: rotate(226deg);
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 38px;
    }
  }
}

.slider__button--next {
  right: 0;

  &::after {
    right: 7px;
    transform: rotate(46deg);
  }

  @media (min-width: $tablet-width) {
    &::after {
      right: 38px;
    }
  }
}

.slider__pagination {
  @media (min-width: $mobile-width) and (max-width: $only-tablet-width) {
    display: none;
  }
}
