.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after,
.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
  color: transparent;
}

.swiper-pagination-horizontal .swiper-pagination-bullet {
  @media (min-width: $desktop-width) {
    width: 62px;
    height: 4px;
    border-radius: 0;
    background-color: $color-white-base;
    opacity: 1;

    &-active {
      background-color: $color-base-primary;
    }
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 64px;
  left: 0;
  width: 100%;
}
