.user-list {
  justify-content: flex-end;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    gap: 20px;
  }
}

.user-list__item {
  width: 60px;
  min-height: 60px;
  padding: 22px;

  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    width: unset;
    padding: 32px 20px;
  }

  &:active {
    @media (min-width: $mobile-width) {
      background-color: $color-base-secondary;
    }
  }

  &:active .user-list__link,
  &:hover .user-list__link,
  &:focus .user-list__link {
    @media (min-width: $tablet-width) {
      color: $color-base-primary;
    }
  }
}

.user-list__link {
  display: block;
  min-width: 16px;
  min-height: 16px;
  color: $color-black-base;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 8px;

    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }
}

.user-list__icon {
  display: block;
}

.user-list__text {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
