.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-right: 60px;
  margin: 0 60px 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    justify-content: start;
  }
}

.user-list__text {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.user-list__link {
  display: block;
  padding: 19px 22px;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }
}
