@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/montserrat400.woff2") format("woff2"), url("../../fonts/montserrat400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/montserrat500.woff2") format("woff2"), url("../../fonts/montserrat500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/montserrat600.woff2") format("woff2"), url("../../fonts/montserrat600.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/montserrat700.woff2") format("woff2"), url("../../fonts/montserrat700.woff") format("woff");
  font-display: swap;
}
